<div class="list">
    <div class="d-flex">

        <div class="card">
            <h2>
                Consumo atual:
            </h2>
            <span>
                {{ actualVolume }}
            </span>
        </div>

        <div class="card">
            <h2>
                Valor da conta atual:
            </h2>
            <span>
                {{ actualTax | currency:'BRL' }}
            </span>
        </div>

        <div class="card">
            <h2>
                Consumo previsto:
            </h2>
            <span>
                {{ actualVolume }}
            </span>
        </div>

        <div class="card">
            <h2>
                Valor previsto da próxima conta:
            </h2>
            <span>
                {{ actualTax | currency:'BRL' }}
            </span>
        </div>

    </div>


    <div class="d-flex">
        <!-- GRAFICO LINHA -->
        <div style="display: block;" class="line-chart">
            <h2 class="chart-title">Consumo atual</h2>
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" chartType="line" [plugins]="lineChartPlugins">
            </canvas>
        </div>

        <div class="month-graph">
            <!-- GRAFICO BARRA - CONSUMO REAL -->
            <div *ngIf="barChartLabels.length > 0" style="display: block" class="bar-chart">
                <h2 class="chart-title">Consumo litros(L)</h2>
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend" chartType="bar">
                </canvas>
            </div>

            <!-- GRAFICO BARRA - CONSUMO ESTIMADO -->
            <div style="display: block" class="bar-chart estimated">
                <h2 class="chart-title">Consumo reais(R$)</h2>
                <canvas baseChart [datasets]="barChartValueTax" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend" chartType="bar">
                </canvas>
            </div>
        </div>

    </div>

</div>